<%- include('../partials/header.ejs'); %>
    <div id="layoutSidenav_content">
        <main>
            <header class="page-header page-header-dark bg-primary pb-10">
                <div class="container-xl px-4">
                    <div class="page-header-content pt-4">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-auto mt-4">
                                <h1 class="page-header-title">
                                    <div class="page-header-icon"><i data-feather="user"></i></div>
                                    Directorio de usuarios
                                </h1>
                                <div class="page-header-subtitle">
                                    Visualiza los usuarios con acceso a la plataforma y los permisos asignados.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- Main page content-->
            <div class="container-xl px-4 mt-n10">
                <div class="card card-header-actions mb-4">
                    <div class="card-header p-5">
                        Directorio de usuarios
                            <button class="btn btn-md btn-warning" type="button">
                                Crear usuario administrador
                            </button>
                    </div>
                    <div class="card-body">
                        <table id="datatable">
                            <thead>
                                <tr>
                                    <th class="d-none">data</th>
                                    <th class="d-none">role</th>
                                    <th>Usuario</th>
                                    <th>Role</th>
                                    <th>Estado</th>
                                    <th>Opciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% usuarios.forEach((usuario)=> { %>
                                    <tr>
                                        <td class="d-none"><%= usuario.Permisos %></td>
                                        <td class="d-none"><%= usuario.Role %></td>
                                        <td>
                                            <%= usuario.Username %>
                                        </td>
                                        <td>
                                            <%= usuario.RoleText %>
                                        </td>
                                        <td>
                                            <%= usuario.Estado %>
                                        </td>
                                        <td class="col-md-4">
                                            <button class="btn btn-primary btn-sm" id="btnPermisos">
                                                <i class="me-2" data-feather="edit"></i>Ver permisos
                                            </button>
                                            <button class="btn btn-info btn-sm">
                                                <i class="me-2" data-feather="edit"></i>Editar
                                            </button>
                                        </td>
                                    </tr>
                                    <%} )%>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>



        <div class="modal fade" id="modalMaestros" tabindex="-1"  aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Actualizar permisos usuario de tipo "Maestro" : <span id="textMaestros"></span> </h5>
                        <button type="button" class="btn btn-light" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"><i data-feather="x"></i></span>
                        </button>
                    </div>
                    <div class="modal-body">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label>Permitir ingreso de matriculas</label>
                                    <select class="form-control" name="selectMatricula" id="selectMatricula">
                                        <option selected disabled>Seleccione</option>
                                        <option value="true">Permitir</option>
                                        <option value="false">No permitir</option>
                                    </select>
                                </div>
                            </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">
                            Cancelar
                        </button>
                        <button type="button" class="btn btn-primary" id="btnGuardarMaestros">
                            Guardar
                        </button>
                    </div>
                </div>
            </div>
        </div>




        <%- include('../partials/footer.ejs'); %>
            <script src="/static/js/alertas.js"></script>
            <script src="/static/js/admin/usuarios/usuarios.js"></script>