<%- include('../../partials/header.ejs'); %>

<div id="layoutSidenav_content">
  <main>
    <header class="page-header page-header-dark bg-primary pb-10">
      <div class="container-xl px-4">
        <div class="page-header-content pt-4">
          <div class="row align-items-center justify-content-between">
            <div class="col-auto mt-4">
              <h1 class="page-header-title">
                <div class="page-header-icon">
                  <i data-feather="list"></i>
                </div>
                Indicadores de logro
              </h1>
              <div class="page-header-subtitle">
                Visualiza el catálogo de indicadores de logro para grados
                evaluados cualitativamente.
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- Main page content-->
    <div class="container-xl px-4 mt-n10">
      <div class="card card-header-actions mb-4">
        <div class="card-header p-5">
          Indicadores de logro
          <button
            class="btn btn-md btn-warning"
            type="button"
            data-toggle="modal"
            data-target="#agregarAno"
          >
            Agregar indicador
          </button>
        </div>
        <div class="card-body">
          <table id="datatable">
            <thead>
              <tr>
                <th scope="col">Indicador</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <% indicadores.forEach( indicador => { %>
              <tr>
                <td scope="row"><%= indicador.indicador %></td>
                <td scope="row" class="col-md-4">
                  <div class="btn-group" role="group">

                  <button class="btn btn-primary btnEdit" data-id="<%= indicador.id%>">
                    <i class="me-2" data-feather="edit"></i>Editar
                  </button>
                  <button class="btn btn-danger btnDelete" data-id="<%= indicador.id%>" >
                    <i class="me-2" data-feather="trash-2"></i>Eliminar
                  </button>
                  </div>
                </td>
              </tr>
              <%})%>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </main>

  <div
    class="modal fade"
    id="agregarAno"
    tabindex="-1"
    aria-labelledby="agregarAno"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="agregarAno">
            Agregar nuevo indicador de logro
          </h5>
          <button
            type="button"
            class="btn btn-light"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true"><i data-feather="x"></i></span>
          </button>
        </div>
        <div class="modal-body">
          <form id="formModeloMateria">
            <div class="form-group pb-1">
              <label for="exampleInputEmail1">Indicador de logro</label>
              <input
                type="email"
                class="form-control"
                id="NombreMateriaInput"
                name="indicador"
              />
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">
            Cancelar
          </button>
          <button type="button" class="btn btn-primary" id="btnGuardar">
            Guardar
          </button>
        </div>
      </div>
    </div>
  </div>
  <%- include('../../partials/footer.ejs'); %>
  <script src="/static/js/alertas.js"></script>
  <script src="/static/js/admin/catalogos/indicadores/indicadores.js"></script>
</div>
