<%- include('../partials/header.ejs'); %>
    <div id="layoutSidenav_content">
        <main>
            <header class="page-header page-header-dark bg-primary pb-10">
                <div class="container-xl px-4">
                    <div class="page-header-content pt-4">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-auto mt-4">
                                <h1 class="page-header-title">
                                    <div class="page-header-icon"><i data-feather="user"></i></div>
                                    Matriculas registrada 
                                </h1>
                                <div class="page-header-subtitle">
                                    Visualiza toda la información del alumno seleccionado
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- Main page content-->
            <div class="container-xl px-4 mt-n10">
                <div class="card card-header-actions mb-4">
                    <div class="card-header p-5">
                        <div>
                            <a href="/admin/estudiantes" class="btn btn-sm btn-primary" >
                                Volver Atrás
                            </a>
                        </div>
                    </div>
                    <div class="card-body ">
                        <img src="/static/<%= img %>" class="mx-auto d-block imgMatricula" >
                        <hr>
                        <form id="formMatricula" enctype="multipart/form-data">
                            <div class="row">
                                <div class="form-group col-md-3">
                                    <label>Carnet o código identificador</label>
                                    <input type="text" class="form-control" id="carnet" name="carnet"
                                        autocomplete="off" disabled value="<%= datos.carnet %>">
                                </div>
                                <div class="form-group col-md-3">
                                    <label>Nombres</label>
                                    <input type="text" class="form-control" id="Nombres" name="Nombres"
                                        autocomplete="off"  value="<%= datos.Nombres %>">
                                </div>
                                <div class="form-group col-md-3">
                                    <label>Apellidos</label>
                                    <input type="text" class="form-control" id="Apellidos" name="Apellidos"
                                        autocomplete="off"  value="<%= datos.Apellidos %>">
                                </div>
                                <div class="form-group col-md-3">
                                    <label>Correo electrónico</label>
                                    <input type="email" class="form-control" id="EmailMain" name="EmailMain"
                                        autocomplete="off"  value="<%= datos.EmailMain %>">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-5">
                                    <label>Dirección</label>
                                    <input type="text" class="form-control" id="Direccion" name="Direccion"
                                        autocomplete="off"  value="<%= datos.Direccion %>">
                                </div>
                                <div class="form-group col-md-2">
                                    <label>Télefono</label>
                                    <input type="text" class="form-control" id="Tel" name="Tel"
                                        autocomplete="off"  value="<%= datos.Tel %>">
                                </div>
                                <div class="form-group col-md-3">
                                    <label>Fecha de nacimiento</label>
                                    <input type="date" class="form-control" id="FechaNac" name="FechaNac"
                                        autocomplete="off"  value="<%= datos.FechaNac %>">
                                </div>
                                <div class="form-group col-md-2">
                                    <label>Código contable</label>
                                    <input type="text" class="form-control" id="codigoContable" name="codigoContable"
                                        autocomplete="off"  value="<%= datos.codigoContable %>">
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="card">
                                        <div class="card-header">
                                            Datos personales madre
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label>Nombre</label>
                                                    <input type="text" class="form-control" id="NombreMadre" name="NombreMadre"
                                                        autocomplete="off"  value="<%= datos.NombreMadre %>">
                                                </div>
                                                <div class="col-md-6">
                                                    <label>Cédula</label>
                                                    <input type="text" class="form-control" id="CedulaMadre" name="CedulaMadre"
                                                        autocomplete="off"  value="<%= datos.CedulaMadre %>">
                                                </div>
                                                <div class="col-md-6">
                                                    <label>Teléfono</label>
                                                    <input type="tel" class="form-control" id="TelMadre" name="TelMadre"
                                                        autocomplete="off"  value="<%= datos.TelMadre %>">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card">
                                        <div class="card-header">
                                            Datos personales padre
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label>Nombre</label>
                                                    <input type="text" class="form-control" id="NombrePadre" name="NombrePadre"
                                                        autocomplete="off"  value="<%= datos.NombrePadre %>">
                                                </div>
                                                <div class="col-md-6">
                                                    <label>Cédula</label>
                                                    <input type="text" class="form-control" id="CedulaPadre" name="CedulaPadre"
                                                        autocomplete="off"  value="<%= datos.CedulaPadre %>">
                                                </div>
                                                <div class="col-md-6">
                                                    <label>Teléfono</label>
                                                    <input type="tel" class="form-control" id="TelPadre" name="TelPadre"
                                                        autocomplete="off"  value="<%= datos.TelPadre %>">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card">
                                        <div class="card-header">
                                            Datos personales tutor
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label>Nombre</label>
                                                    <input type="text" class="form-control" id="NombreTutor" name="NombreTutor"
                                                        autocomplete="off"  value="<%= datos.NombreTutor %>">
                                                </div>
                                                <div class="col-md-6">
                                                    <label>Cédula</label>
                                                    <input type="text" class="form-control" id="CedulaTutor" name="CedulaTutor"
                                                        autocomplete="off"  value="<%= datos.CedulaTutor %>">
                                                </div>
                                                <div class="col-md-6">
                                                    <label>Teléfono</label>
                                                    <input type="tel" class="form-control" id="TelTutor" name="TelTutor"
                                                        autocomplete="off"  value="<%= datos.TelTutor %>">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="card">
                                <div class="card-header">
                                    Detalles familiares
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label>El alumno vive con : </label>
                                            <select name="ViveCon" id="ViveCon"  class="form-control">
                                                <option selected  value="<%= datos.ViveCon %>"><%= datos.ViveCon %></option>
                                                <option value="Ambos padres">Ambos padres</option>
                                                <option value="Solo con papá">Solo con papá</option>
                                                <option value="Solo con mamá">Solo con mamá</option>
                                                <option value="Con otro tipo de familiar">Con otro tipo de familiar</option>
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                            <label>Situación de los padres </label>
                                            <select name="SiticionPadres"  id="SiticionPadres" class="form-control">
                                                <option selected value="<%= datos.SiticionPadres %>"><%= datos.SiticionPadres %></option>
                                                <option value="Padres Divorciados">Padres Divorciados</option>
                                                <option value="Padres en unión sentimental">Padres en unión sentimental</option>
                                                <option value="Padres en unión civil">Padres en unión civil</option>
                                                <option value="Padres en unión religiosa">Padres en unión religiosa</option>
                                                <option value="Madre fallecida">Madre fallecida</option>
                                                <option value="Padre fallecido">Padre fallecido</option>
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                            <label>Resposabilidad económica</label>
                                            <select name="ResEcono"  id="ResEcono" class="form-control">
                                                <option selected value="<%= datos.ResEcono %>"><%= datos.ResEcono %></option>
                                                <option value="Ambos padres">Ambos padres</option>
                                                <option value="Solo de papá">Solo de papá</option>
                                                <option value="Solo de mamá">Solo de mamá</option>
                                                <option value="Con otro tipo de familiar">Con otro tipo de familiar</option>
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                            <label>Condición de salud diagnosticada</label>
                                            <input type="text" class="form-control"  id="condicionMedica" name="condicionMedica"
                                            autocomplete="off" value="<%= datos.condicionMedica %>">
                                        </div>
                                        <hr>
                                        <% if(existFamiliares) { %>
                                        <div class="col-md-12">
                                            <label>Alumnos familiares inscritos</label>
                                            <ol>
                                                <% arrFamiliares.forEach( familiar =>{   %>                                
                                                    <li><%= familiar[0].Nombre +' '+ familiar[0].Apellido  %></li>
                                                <%})%>
                                            </ol>
                                        </div>
                                        <%}%>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            
                        </form>
                        <button class="btn btn-success btn-lg" id="btnGuardar" >Actualizar matricula</button>
                        <input type="hidden" id="idMatricula" value="<%= idMatricula  %>">
                    </div>
                </div>
            </div>
        </main>

        <%- include('../partials/footer.ejs'); %>
            <script src="/static/js/alertas.js"></script>
            <script src="/static/js/admin/estudiantes/matriculas.js"></script>
    </div>