<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<%- include('../partials/header.ejs'); %>
  <div id="layoutSidenav_content">
    <main>
      <header class="page-header page-header-dark bg-primary pb-10">
        <div class="container-xl px-4">
          <div class="page-header-content pt-4">
            <div class="row align-items-center justify-content-between">
              <div class="col-auto mt-4">
                <h1 class="page-header-title">
                  <div class="page-header-icon">
                    <i data-feather="archive"></i>
                  </div>
                  <%= datosGrado.nombre %> - Año <%= datosGrado.idYear %> - Bimestre <%= bimestreActivo %>
                </h1>
                <div class="page-header-subtitle">
                  Visualiza información general del grado, materias asignadas y
                  estudiantes
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <!-- main  page content-->
      <div class="container-xl px-4 mt-n10">
        <div class="card card-header-actions mb-4">
          <div class="card-header p-5">
            Información general
            <% if(permisos.grados.update){ %>
            <button class="btn btn-md btn-warning" type="button" id="editGrado">Editar nombre del grado</button>
            <% } %>
          </div>
          <div class="card-body px-0">
            <div class="d-flex align-items-center justify-content-between px-4">
              <div class="d-flex align-items-center">
                <i data-feather="archive"></i>
                <div class="ms-4">
                  <div class="text-xs text-muted">Nombre</div>
                  <div class="small" id="nombreGrado">
                    <%= datosGrado.nombre %>
                  </div>
                </div>
              </div>
            </div>
            <hr />
            <div class="d-flex align-items-center justify-content-between px-4">
              <div class="d-flex align-items-center">
                <i data-feather="file-text"></i>
                <div class="ms-4">
                  <div class="text-xs text-muted">Ciclo educativo</div>
                  <div class="small">
                    <%= datosGrado.ciclo %>
                  </div>
                </div>
              </div>
            </div>
            <hr />
            <!-- Payment method 3-->
            <div class="d-flex align-items-center justify-content-between px-4">
              <div class="d-flex align-items-center">
                <i data-feather="calendar"></i>
                <div class="ms-4">
                  <div class="text-xs text-muted">Año en que se imparte</div>
                  <div class="small">
                    <%= datosGrado.idYear %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Navigation-->
        <nav class="nav nav-borders">
          <a class="nav-link active ms-0" id="navMaterias" href="#">Materias</a>
          <a class="nav-link " id="navAlumnos" href="#">Alumnos</a>
        </nav>
        <hr class="mt-0 mb-4" />
        <!-- Materias y mas-->
        <section id="alumnosSection" class="d-none">
          <div class="card card-header-actions mb-4">
            <div class="card-header p-5">
              Alumnos
              <div>
                <% if(permisos.grados.update){ %>
                <button class="btn btn-md btn-secondary" type="button" data-toggle="modal"
                  data-target="#modalAddEstudiante"> <i class="me-2" data-feather="plus-circle"></i>
                  Asignar alumnos
                </button>
                <% } %>
              </div>
            </div>
            <div class="card-body table-responsive">
              <table class="table table-striped table-hover">
                <thead>
                  <tr>
                    <th>Carnet</th>
                    <th>Apellido</th>
                    <th>Nombre</th>
                    <% if(permisos.grados.update){ %>
                    <th>Eliminar</th>
                    <% } %>
                  </tr>
                </thead>
                <tbody>
                  <% Estudiantes.forEach( estudiante=> { %>
                    <tr>
                      <td>
                        <%= estudiante.Carnet %>
                      </td>
                      <td>
                        <%= estudiante.Apellido %>
                      </td>
                      <td>
                        <%= estudiante.Nombre %>
                      </td>
                      <% if(permisos.grados.update){ %>
                      <td>
                        <button class="btn btn-danger btnDeleteAlumno" data-id="<%= estudiante.idGradoAlumno %>">
                          <i data-feather="trash-2"></i>
                        </button>
                      </td>
                      <% } %>
                    </tr>
                    <% } )%>
                </tbody>
              </table>
            </div>
          </div>
        </section>
        <section id="materiasSection">
          <!-- Payment methods card-->
          <div class="card card-header-actions mb-3">
            <div class="card-header p-5">
              Opciones de materias
              <% if(permisos.grados.update){ %>
              <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Permisos de edición en grado
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <h6 class="dropdown-header text-green">Activar edición</h6>
                  <a class="dropdown-item changeStatus" data-role="1" data-statoch="1" href="#">Primera actividad 30% </a>
                  <a class="dropdown-item changeStatus" data-role="2" data-statoch="1" href="#">Segunda actividad 30% </a>
                  <a class="dropdown-item changeStatus" data-role="3" data-statoch="1" href="#">Examen 40% </a>
                  <div class="dropdown-divider"></div>
                  <h6 class="dropdown-header text-red">Desactivar edición</h6>
                  <a class="dropdown-item changeStatus" data-role="1" data-statoch="0" href="#">Primera actividad 30% </a>
                  <a class="dropdown-item changeStatus" data-role="2" data-statoch="0" href="#">Segunda actividad 30% </a>
                  <a class="dropdown-item changeStatus" data-role="3" data-statoch="0" href="#">Examen 40% </a>
                </div>
              </div>
              <% } %>
              <div>
                <% if(permisos.grados.update){ %>
                <button class="btn btn-md btn-primary" type="button" data-toggle="modal"
                  data-target="#modalAddMateria"><i class="me-2" data-feather="plus-circle"></i> Asignar
                  materia</button>
                  <% } %>
              </div>
            </div>
          </div>


          <% dataFiltrada.forEach( materia=> { %>
            <div class="row">
              <div class="col-xl-4">
                <!-- Profile picture card-->
                <div class="card card-header-actions mb-4 mb-xl-0">
                  <div class="card-header  p-5">
                 <%= materia.NombreMateria %>  
                 <% if(permisos.grados.update){ %>
                  <button data-id="<%= materia.idMateria %>" class="btnDeleteGrado btn btn-danger btn-sm"><i data-feather="trash-2"></i></button>

                  </div>
                  <div class="card-body">
                    <span>Permisos de edición: </span>
                    <table class="table table-striped">
                      <thead>
                        <th>Primera actividad 30%</th>
                        <th>Segunda actividad 30%</th>
                        <th>Examen 40%</th>
                      </thead>
                      <tbody>
                        <tr>
                          <% if(materia.EstadoAct1){ %>
                            <td><button data-idunion="<%= materia.idMateria %>" data-status="<%= materia.EstadoAct1%>" data-role="1"  class="btn btn-sm btn-success edicionBtn">Activo</button></td>
                          <% }else{ %>
                            <td><button data-idunion="<%= materia.idMateria %>" data-status="<%= materia.EstadoAct1%>" data-role="1"  class="btn btn-sm btn-danger edicionBtn">Inactivo</button></td>
                          <% } %>

                          <% if(materia.EstadoAct2){ %>
                            <td><button data-idunion="<%= materia.idMateria %>" data-status="<%= materia.EstadoAct2%>" data-role="2"  class="btn btn-sm btn-success edicionBtn">Activo</button></td>
                          <% }else{ %>
                            <td><button data-idunion="<%= materia.idMateria %>" data-status="<%= materia.EstadoAct2%>" data-role="2"  class="btn btn-sm btn-danger edicionBtn">Inactivo</button></td>
                          <% } %>

                          <% if(materia.EstadoAct3){ %>
                            <td><button data-idunion="<%= materia.idMateria %>" data-status="<%= materia.EstadoAct3%>" data-role="3"  class="btn btn-sm btn-success edicionBtn">Activo</button></td>
                          <% }else{ %>
                            <td><button data-idunion="<%= materia.idMateria %>" data-status="<%= materia.EstadoAct3%>" data-role="3" class="btn btn-sm btn-danger edicionBtn">Inactivo</button></td>
                          <% } %>
                        </tr>
                      </tbody>
                    </table>                   
                    <% } %>
                  </div>
                  
                </div>
              </div>

              <div class="col-xl-8">
                <!-- Account details card-->
                <div class="card mb-4">
                  <div class="card-header d-flex justify-content-between">
                    Maestros que imparten la materia:
                    <% if(permisos.grados.update){ %>
                    <button class="btn btn-md btn-success btnAsignarMaestro" type="button"
                      data-union=<%=materia.idMateria %> data-materia=<%= materia.NombreMateria %> >
                        <i class="me-2" data-feather="plus-circle"></i>Asignar maestro</button>
                        <% } %>
                  </div>
                  <div class="card-body table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>Nombre</th>
                          <% if(permisos.grados.update){ %>
                          <th>Eliminar</th>
                          <% } %>
                        </tr>
                      </thead>
                      <tbody>
                        <% materia.maestros.forEach( maestro=> { %>
                          <tr>
                            <td>
                              <%= maestro.NombreMaestro %>
                            </td>
                            <% if(permisos.grados.update){ %>
                            <td class="col-md-2">
                              <button class="btn btn-danger btnDelete" data-id="<%=maestro.idMaestroMateria%>">
                                <i data-feather="trash-2"></i></button>
                            </td>
                            <% } %>
                          </tr>
                          <% } )%>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <hr>
            <% } )%>
              <hr />
        </section>
      </div>
    </main>

    <!-- MODAL AGREGAR MATERIA -->
    <div class="modal fade" id="modalAddMateria" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Asignar materia a : <b>
                <%= datosGrado.nombre %>
              </b></h5>
            <button type="button" class="btn btn-light" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true"><i data-feather="x"></i></span>
            </button>
          </div>
          <div class="modal-body">
            <form id="formAddMateria">
              <div class="row">
                <div class="form-group col-md-12" id="selectContainer">
                  <label>Seleccionar modelo de materia</label>
                  <select class="form-control" name="idMateria" id="selectMateria">
                    <option selected disabled>Seleccione materia</option>
                  </select>
                  <input type="hidden" name="idGrado" value="<%= idGrado %>">
                </div>
              </div>
            </form>
            <small><b>Nota: </b>Puede buscar escribiendo el nombre de la materia</small>
          </div>
          <div class="modal-footer">

            <button type="button" class="btn btn-danger" data-dismiss="modal">
              Cancelar
            </button>
            <button type="button" class="btn btn-primary" id="btnGuardarMaterias">
              Guardar
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- MODAL AGREGAR MAESTRO -->
    <div class="modal fade" id="modalAddMaestro" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Asignar maestro a materia : <b> <span id="textoNombreMateria"></span> </b> en el
              grado : <b>
                <%= datosGrado.nombre %>
              </b> </h5>
            <button type="button" class="btn btn-light" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true"><i data-feather="x"></i></span>
            </button>
          </div>
          <div class="modal-body">
            <form id="formMaestro">
              <div class="row">
                <div class="form-group col-md-12">
                  <label>Seleccionar maestro </label>
                  <select class="form-control" name="idMaestro" id="selectMaestro">
                    <option selected disabled>Seleccione materia</option>
                  </select>
                  <input type="hidden" name="idMateria" id="idMateriaInMaestro">
                  <input type="hidden" name="idGrado" value="<%= idGrado %>">
                </div>
              </div>
            </form>
            <small><b>Nota:</b> Puede buscar escribiendo el nombre del maestro</small>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">
              Cancelar
            </button>
            <button type="button" class="btn btn-primary" id="btnGuardarMaestros">
              Guardar
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- MODAL AGREGAR ESTUDIANTE -->
    <div class="modal fade" id="modalAddEstudiante" aria-hidden="true">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Asignar alumno al grado : <b>
                <%= datosGrado.nombre %>
              </b> </h5>
            <button type="button" class="btn btn-light" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true"><i data-feather="x"></i></span>
            </button>
          </div>
          <div class="modal-body">
            <form id="formEstudiantes">
              <div class="row">
                <div class="form-group col-md-12">
                  <label>Seleccionar los alumnos pertenecientes a este grado </label>
                  <select class="form-control" name="idEstudiantes[]" id="selectEstudiantes"
                    multiple="multiple"></select>
                  <input type="hidden" name="idGrado" value="<%= idGrado %>">
                </div>
              </div>
            </form>
            <small><b>Nota:</b> Puede buscar escribiendo el nombre del alumno</small>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">
              Cancelar
            </button>
            <button type="button" class="btn btn-primary" id="btnGuardarEstudiantes">
              Guardar
            </button>
          </div>
        </div>
      </div>
    </div>

    <input type="hidden" id="idGrado" value="<%= idGrado %>">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"></script>

    <%- include('../partials/footer.ejs'); %>
      <script src="/static/js/alertas.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
      <script src="/static/js/admin/grados/detalleGrado.js"></script>