<%- include('../partials/header.ejs'); %>
    <div id="layoutSidenav_content">
        <main>
            <header class="page-header page-header-dark bg-primary pb-10">
                <div class="container-xl px-4">
                    <div class="page-header-content pt-4">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-auto mt-4">
                                <h1 class="page-header-title">
                                    <div class="page-header-icon"><i data-feather="archive"></i></div>
                                    Grados
                                </h1>
                                <div class="page-header-subtitle">Visualiza todos los grados registrados, asigna
                                    materias y maestros a cada grado.</div>
                                <!-- Selector de año-->
                                <div class="pt-4">
                                    <label for="exampleFormControlSelect1">Selecciona el año que quieres
                                        visualizar</label>
                                    <div class="input-group input-group-joined">
                                        <span class="input-group-text">
                                            <i data-feather="calendar"></i>
                                        </span>
                                        <select class="form-control form-control-solid" id="selectorYear">
                                            <% years.forEach( year=> {%>
                                                <option>
                                                    <%= year.year%>
                                                </option>
                                                <% }) %>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- Main page content-->
            <div class="container-xl px-4 mt-n10">
                <div class="card card-header-actions mb-4">
                    <div class="card-header p-5">
                        Grados
                        <div class="dropdown">
                            <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Editar permisos de edición
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <h6 class="dropdown-header text-green">Activar edición</h6>
                                <a class="dropdown-item changeStatus" data-role="1" data-statoch="1" href="#">Primera
                                    actividad 30% </a>
                                <a class="dropdown-item changeStatus" data-role="2" data-statoch="1" href="#">Segunda
                                    actividad 30% </a>
                                <a class="dropdown-item changeStatus" data-role="3" data-statoch="1" href="#">Examen 40%
                                </a>
                                <div class="dropdown-divider"></div>
                                <h6 class="dropdown-header text-red">Desactivar edición</h6>
                                <a class="dropdown-item changeStatus" data-role="1" data-statoch="0" href="#">Primera
                                    actividad 30% </a>
                                <a class="dropdown-item changeStatus" data-role="2" data-statoch="0" href="#">Segunda
                                    actividad 30% </a>
                                <a class="dropdown-item changeStatus" data-role="3" data-statoch="0" href="#">Examen 40%
                                </a>
                            </div>
                        </div>
                        <button class="btn btn-md btn-warning" type="button" data-toggle="modal"
                            data-target="#modalGrados">Agregar Grado</button>
                    </div>
                    <div class="card-body">
                        <table id="datatable">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Ciclo educativo</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% grados.forEach( grado=> {%>
                                    <tr>
                                        <td class="col-md-4">
                                            <%= grado.nombre%>
                                        </td>
                                        <td>
                                            <%= grado.ciclo %>
                                        </td>
                                        <td class="col-md-4">
                                            <div class="btn-group" role="group">

                                                <a href="/admin/grados/detalle/<%= grado.id %>"
                                                    class="btn btn-primary"><i class="me-2"
                                                        data-feather="settings"></i>Configuración</a>
                                                <button class="btn btn-danger btnDelete" data-id="<%= grado.id %>"><i
                                                        class="me-2" data-feather="trash-2"></i>Eliminar</button>
                                            </div>
                                        </td>
                                    </tr>
                                    <% }) %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>


        <div class="modal fade" id="modalGrados" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Agregar grado en año activo</h5>
                        <button type="button" class="btn btn-light" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"><i data-feather="x"></i></span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="formGrados">
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label>Nombre</label>
                                    <input type="text" class="form-control" id="NombreCurso" name="NombreCurso"
                                        autocomplete="off" />
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Ciclo educativo </label>
                                    <select class="form-control" name="idCiclo" id="idCiclo">
                                        <option selected disabled>Seleccione ciclo</option>
                                        <% ciclos.forEach( ciclo=> {%>
                                            <option value="<%= ciclo.id %>">
                                                <%= ciclo.Nombre%>
                                            </option>
                                            <% }) %>
                                    </select>
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Seleccionar año </label>
                                    <select class="form-control" name="year" id="year">
                                        <% yearToAdd.forEach( year=> {%>
                                            <option value="<%= year.year %>">
                                                <%= year.year %>
                                            </option>
                                            <% }) %>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">
                            Cancelar
                        </button>
                        <button type="button" class="btn btn-primary" id="btnGuardar">
                            Guardar
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <input type="hidden" id="yearActivo" value="<%=yearActivo%>">
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
        
        <%- include('../partials/footer.ejs'); %>
            <script src="/static/js/alertas.js"></script>
            <script src="/static/js/admin/grados/grados.js"></script>